<div class="nav-extension"></div>

<div class="container" role="main">

    <div class="breadcrumb2 flat">
      {{#link-to "dashboard"}}<i class="glyphicon glyphicon-home"></i>{{/link-to}}
      {{#link-to "workflow" (query-params workflowid=model.flowexecid)}}Workflow{{/link-to}}
      {{#link-to "job" (query-params jobid=model.jobexecid) class="active"}}<label>Job</label>{{/link-to}}
    </div>

    <div class="shadow details-container box">
        <div class="ribbon-general ribbon-{{getColorForSeverity model.severity}}" ><span>{{model.severity}}</span></div>
        <h4>{{model.jobname}}</h4>
        <hr class="horizontal-line"/>
        <table class="info borderless">



            <tbody>
            <tr>
                <td>User</td>
                <td>{{model.username}}</td>
            </tr>
            <tr>
                <td>Jobtype</td>
                <td>{{model.jobtype}}</td>
            </tr>
            <tr>
                <td>Job Execution:</td>
                <td><a href="{{model.jobexecid}}">{{model.jobexecid}}</a></td>
            </tr>
            <tr>
                <td>Job Definition</td>
                <td><a href="{{model.jobdefid}}">{{model.jobdefid}}</a></td>
            </tr>
            <tr>
                <td>Flow execution:</td>
                <td><a href="{{model.flowexecid}}">{{model.flowexecid}}</a></td>
            </tr>
            <tr>
                <td>Flow definition:</td>
                <td><a href={{model.flowdefid}}>{{model.flowdefid}}</a></td>
            </tr>
            <tr>
                <td>Start time:</td>
                <td>{{model.starttime}}</td>
            </tr>
            <tr>
                <td>End time:</td>
                <td>{{model.finishtime}}</td>
            </tr>
            <tr>
                <td><a href="/newflowhistory?flow-def-id={{urlEncode model.flowdefid}}&select-graph-type=heuristics"><span class="glyphicon glyphicon-stats"> FlowHistory</span></a></td>
            </tr>
            <tr>
                <td><a href="/newjobhistory?job-def-id={{urlEncode model.jobdefid}}&select-graph-type=heuristics"><span class="glyphicon glyphicon-stats"> JobHistory</span></a></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <table class="info borderless">
            <tbody>

            <tr>
                <td>
                  {{tasks-severity job=model}}
                </td>
            </tr>
            <tr>
                <td>
                  {{aggregated-metrics application=model}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="shadow summary-list-container">
        <div  class="summary-list-header">Applications</div>

  {{application-list applications=model.taskssummaries}}
        </div>

</div>
